[submodule "submodules/gokz"]
	path = submodules/gokz
	url = https://github.com/KZGlobalTeam/gokz.git
[submodule "submodules/MovementAPI"]
	path = submodules/MovementAPI
	url = https://github.com/danzayau/MovementAPI.git
